%containerButton {
    height: 35px;
    width: 80px;
    margin: $small-margin / 2;
    padding: $small-padding / 2;
    border: 2px solid transparent;
    border-radius: 6px;
    box-shadow: 2px 2px var(--stopwatch-button-boxshadow-brush);
    color: var(--stopwatch-container-removeall-button-text-brush);
    font-size: $small-font-size;
    cursor: pointer;

    &:active {
        box-shadow: 2px 2px #666;
        transform: translateY(2px);
    }
}

.stopwatches-container {
    display: block;
    font-family: $font-family;

    & > .stopwatches-container__header {
        margin: 0px;
        padding: $small-padding;
        text-align: center;
        background-color: white;
    }

    & > .stopwatches-container__controls-container {
        & > .stopwatches-container__amount {
            margin: 0px;
            padding: 0px;
            text-align: center;
        }
    
        & > .stopwatches-container__button-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0px auto;
            padding: $small-padding / 2;
            box-sizing: border-box;
    
            & > .stopwatches-container__button-container__add-button {
                @extend %containerButton;
                background-color: var(--stopwatch-container-add-button-brush);
            }
    
            & > .stopwatches-container__button-container__addx-button {
                @extend %containerButton;
                background-color: var(--stopwatch-container-add-button-brush);
            }
    
            & > .stopwatches-container__button-container__amount-input {
                width: 120px;
                padding: $small-padding / 2;
                font-family: $font-family;
                font-size: 0.7em;
            }
    
            & > .stopwatches-container__button-container__removeall-button {
                @extend %containerButton;
                background-color: var(--stopwatch-container-removeall-button-brush);
            }

            & > .stopwatches-container__button-container__dropdown-container {
                position: relative;
                display: inline-block;

                &:hover .stopwatches-container__button-container__dropdown-container__dropdown-content {
                    display: block;
                    border: 1px solid gray;
                }

                & > .stopwatches-container__button-container__dropdown-container__dropdown-button {
                    @extend %containerButton;
                    background-color: var(--stopwatch-container-dropdown-button-brush);
                }
    
                & > .stopwatches-container__button-container__dropdown-container__dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
    
                    & > span {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;
                        
                        &:hover {
                            background-color: lightgray;
                        }
                    }

                }
            }
        }
    }

    & > .stopwatches-container__stopwatch-flexcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}