:root {
  --stopwatch-container-add-button-brush: green;
  --stopwatch-container-dropdown-button-brush: none;
  --stopwatch-container-removeall-button-brush: red;
  --stopwatch-container-removeall-button-text-brush: white;
  --stopwatch-strip-brush: darkgray;
  --stopwatch-brush: white;
  --stopwatch-border-brush: gray;
  --stopwatch-button-boxshadow-brush: darkgray;
  --stopwatch-button-text-brush: white;
  --stopwatch-button-hover-brush: gray;
  --stopwatch-button-start-brush: green;
  --stopwatch-button-stop-brush: red;
  --stopwatch-button-reset-brush: orange;
  --stopwatch-button-remove-brush: red;
}

body {
  margin: 0px;
  padding: 0px;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__add-button, .stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__addx-button, .stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__removeall-button, .stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container > .stopwatches-container__button-container__dropdown-container__dropdown-button {
  height: 35px;
  width: 80px;
  margin: 5px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px var(--stopwatch-button-boxshadow-brush);
          box-shadow: 2px 2px var(--stopwatch-button-boxshadow-brush);
  color: var(--stopwatch-container-removeall-button-text-brush);
  font-size: 0.6em;
  cursor: pointer;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__add-button:active, .stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__addx-button:active, .stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__removeall-button:active, .stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container > .stopwatches-container__button-container__dropdown-container__dropdown-button:active {
  -webkit-box-shadow: 2px 2px #666;
          box-shadow: 2px 2px #666;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.stopwatches-container {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.stopwatches-container > .stopwatches-container__header {
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__amount {
  margin: 0px;
  padding: 0px;
  font-size: 0.8em;
  text-align: center;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0px auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__add-button {
  background-color: var(--stopwatch-container-add-button-brush);
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__addx-button {
  background-color: var(--stopwatch-container-add-button-brush);
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__amount-input {
  width: 120px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__removeall-button {
  background-color: var(--stopwatch-container-removeall-button-brush);
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container {
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container:hover .stopwatches-container__button-container__dropdown-container__dropdown-content {
  display: block;
  border: 1px solid gray;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container > .stopwatches-container__button-container__dropdown-container__dropdown-button {
  width: 140px;
  margin: 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  border: 2px solid transparent;
  color: black;
  font-size: 0.8em;
  background-color: var(--stopwatch-container-dropdown-button-brush);
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container > .stopwatches-container__button-container__dropdown-container__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container > .stopwatches-container__button-container__dropdown-container__dropdown-content > span {
  display: block;
  padding: 10px 10px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.stopwatches-container > .stopwatches-container__controls-container > .stopwatches-container__button-container > .stopwatches-container__button-container__dropdown-container > .stopwatches-container__button-container__dropdown-container__dropdown-content > span:hover {
  background-color: lightgray;
}

.stopwatches-container > .stopwatches-container__stopwatch-flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stopwatch > .stopwatch__startstop-button, .stopwatch > .stopwatch__startstop-button--start, .stopwatch > .stopwatch__startstop-button--stop, .stopwatch > .stopwatch__reset-button, .stopwatch > .stopwatch__remove-button {
  height: 30px;
  width: 60px;
  margin: 5px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px var(--stopwatch-button-boxshadow-brush);
          box-shadow: 2px 2px var(--stopwatch-button-boxshadow-brush);
  color: var(--stopwatch-button-text-brush);
  font-size: 0.6em;
  cursor: pointer;
}

.stopwatch > .stopwatch__startstop-button:active, .stopwatch > .stopwatch__startstop-button--start:active, .stopwatch > .stopwatch__startstop-button--stop:active, .stopwatch > .stopwatch__reset-button:active, .stopwatch > .stopwatch__remove-button:active {
  -webkit-box-shadow: 2px 2px #666;
          box-shadow: 2px 2px #666;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.stopwatch {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--stopwatch-border-brush);
  border-radius: 6px;
  background-color: var(--stopwatch-brush);
  font-family: Arial, Helvetica, sans-serif;
}

.stopwatch > .stopwatch__timer {
  margin: 10px;
  padding: 3.33333px;
  font-size: 1.5em;
  text-align: center;
  color: white;
  background-color: black;
}

.stopwatch > .stopwatch__startstop-button--start {
  background-color: var(--stopwatch-button-start-brush);
}

.stopwatch > .stopwatch__startstop-button--stop {
  background-color: var(--stopwatch-button-stop-brush);
}

.stopwatch > .stopwatch__reset-button {
  color: black;
}

.stopwatch > .stopwatch__remove-button {
  background-color: var(--stopwatch-button-remove-brush);
}

.stopwatch--visible {
  display: block;
}

.stopwatch--notvisible {
  display: none;
}
/*# sourceMappingURL=index.css.map */